body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
  box-sizing: border-box;
}

main {
  height: 70vh;
  width: 500px;
  margin: 0 auto;
}

.top-section {
  background-color: #047857;
  padding: 20px;
  color: #ffffff;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-section h2 {
  font-size: 1.7rem;
  text-align: center;
}

#input-value {
  width: 20%;
  height: 3rem;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 8px;
  background-color: #047857;
  color: #ffffff;
  font-size: 3rem;
  /* Remove scrollbar and spinner arrows */
  overflow: hidden;
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Hide Chrome/Safari/Edge spinner arrows */
#input-value::-webkit-outer-spin-button,
#input-value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#input-value::placeholder {
  color: #d1fae5;
  text-align: center;
  font-weight: bold;
  font-size: 4rem;

}

#convert-btn {
  margin-top: 15px;
  width: 27%;
  padding: 10px;
  font-size: 1em;
  color: #047857;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*button top color: #ffffff*/
/*background-color bottom section: #f4f4f4*/
.bottom-section {
  background-color: #f4f4f4;
  padding: 20px;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.convertion-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  min-height: 100px;
  border-radius: 8px;
}

.convertion-wrapper h4{
  font-size: 1.2rem;
  margin: 0;
  padding: 0.4rem 0; 
  text-align: center;
  font-weight: 600;
}

.convertion-wrapper p {
  font-size: 1rem;
  margin: 0;
  padding: 0.4rem 0;
  text-align: center;
}